body {
  font-family: "Fira Sans", sans-serif;
  color: #515151;
  background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAACAAgMAAACpXtvUAAAACVBMVEUAZaX///+ioqKAS0TGAAAAHElEQVR4AWNkAAJyiVAGhv+DmxglVjEw/BvEBAAY4qURj+otNgAAAABJRU5ErkJggg==) repeat-x;
}

@media screen and (max-width: 42.8125em) {
  body {
    background: #fff url("https://s3.amazonaws.com/hcpss.web.site/images/header-stripe-mobile.png") repeat-x;
  }
}

a {
  text-decoration: none;
}

a {
  color: #3494D2;
}

a:hover {
  color: #0063A4;
}

.header {
  width: 960px;
  position: relative;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header-inner {
  position: relative;
  margin-top: 25px;
  margin-bottom: 3px;
  background: #FFF;
}

@media screen and (max-width: 42.8125em) {
  .header-inner {
    text-align: center;
  }
}

.logo {
  float: left;
  margin-right: 1em;
}

@media screen and (max-width: 42.8125em) {
  .logo {
    width: 100%;
    float: none;
  }
}

.logomark {
  width: 700px;
  float: left;
}

@media screen and (max-width: 42.8125em) {
  .logomark {
    width: 100%;
    float: none;
  }
}

.logomark h1 {
  font-weight: 300;
  font-size: 1.75em;
  margin-top: 10px;
  max-width: 600px;
}

.logomark h1 a {
  color: #515151;
}

.sm {
  float: right;
}

.social-media-icons {
  float: left;
}

.social-media-icons li {
  display: inline;
}

@media screen and (max-width: 42.8125em) {
  .social-media-icons {
    padding-left: 0;
  }
}

@media screen and (max-width: 42.8125em) {
  .sm, .social-media-icons {
    float: none;
  }
}

.social-media-icons li {
  display: inline;
}

.body-content {
  float: right;
  width: 65%;
}

@media screen and (max-width: 42.8125em) {
  .body-content {
    float: none;
    width: 100%;
  }
}

.container {
  width: 960px;
  margin: 0 auto;
}

.main {
  font-size: 16px;
  color: #444444;
  margin-left: 1.5em;
  margin-right: 1.5em;
  /* margin-top: 80px;*/
  /* width: 65%; */
}

.main h1 {
  font-size: 2em;
  color: #0063A4;
  /* color: #066243; */
  font-weight: bold;
  line-height: 1.3em;
  padding-bottom: 10px;
}

.main h2 {
  font-size: 1.5em;
  /* color: #000; */
  margin-bottom: 10px;
}

.main h3 {
  font-size: 1.3125em;
  color: #000;
}

.main li {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: .5em;
  margin-left: 0;
}

.main p {
  color: #444444;
  line-height: 24px;
  margin-right: 35px;
}

.hero-heading {
  text-align: center;
}

.hero-heading h1 {
  font-size: 2.5em;
  font-weight: 300;
  color: rgba(81, 81, 81, 0.95);
}

@media screen and (min-width: 42.8125em) {
  .hero-heading h1 {
    font-size: 3em;
  }
}

.heading--center {
  text-align: center;
  display: block;
}

@media screen and (max-width: 42.8125em) {
  .heading--center {
    text-align: left;
    display: block;
  }
}

.heading__no-reset--center {
  text-align: center;
}

.section__breakout--full, .section__breakout--full-first, .section__breakout--full-rounded {
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid #e7e7e7;
  background-color: #f8f8f8;
  margin-top: 2em;
  margin-bottom: 2em;
}

@media screen and (max-width: 42.8125em) {
  .section__breakout--full, .section__breakout--full-first, .section__breakout--full-rounded {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 1000px) {
  .section__breakout--full, .section__breakout--full-first, .section__breakout--full-rounded {
    margin-left: -2em;
    padding: 1em 2em 1em 2em;
  }
}

@media screen and (min-width: 690px) and (max-width: 999px) {
  .section__breakout--full, .section__breakout--full-first, .section__breakout--full-rounded {
    margin-left: 0;
    padding: 1em 1em 1em 2em;
  }
}

@media screen and (max-width: 689px) {
  .section__breakout--full, .section__breakout--full-first, .section__breakout--full-rounded {
    margin-left: -2em;
    padding: 1em 1em 1em 2em;
  }
}

.section__breakout--full-first {
  margin-top: 0;
}

.section__breakout--full-rounded {
  border-radius: 20px;
}

@media screen and (max-width: 46.875em) {
  .section__breakout--full-rounded {
    border-radius: 0;
  }
}

.section__breakout--full-rounded-first {
  margin-top: 0;
}

.section__breakout--aside {
  padding: 1em;
  margin: 1em;
  background-color: #e7e7e7;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  line-height: 19.5px;
}

.section__breakout--aside h3 {
  text-align: center;
}

@media screen and (max-width: 42.8125em) {
  .section__breakout--aside {
    margin: 0;
  }
  .section__breakout--aside h3 {
    text-align: left;
  }
}

.callout, .callout-border-prim, .callout-border-sec, .callout-border-tert, .callout--rounded-no-border {
  background-color: #F1EBE7;
  width: initial;
  float: left;
  padding: .5em .5em .5em 1em;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.callout-border-prim {
  border-top: #0063A4 3px solid;
  border-bottom: #0063A4 3px solid;
}

.callout-border-sec {
  border-top: #7DC254 3px solid;
  border-bottom: #7DC254 3px solid;
}

.callout-border-tert {
  border-top: #dd674a 3px solid;
  border-bottom: #dd674a 3px solid;
}

.callout--rounded-no-border {
  border: 1px solid #e7e7e7;
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid #e7e7e7;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
}

@media screen and (max-width: 999px) {
  .callout--rounded-no-border {
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
  }
}

.thirds__action-tile {
  float: left;
  width: 33%;
  padding-top: 1.4em;
  text-align: center;
}

@media screen and (max-width: 42.8125em) {
  .thirds__action-tile {
    width: 100%;
  }
}

.thirds__action-tile--dark {
  background-color: #0063A4;
}

.thirds__action-tile--medium {
  background-color: #0074D9;
}

.thirds__action-tile--light {
  background-color: #3494D2;
}

a .thirds__action-tile {
  transition: margin-top 0.2s ease-out;
  -webkit-transition: margin-top 0.2s ease-out;
}

@media screen and (max-width: 42.8125em) {
  a .thirds__action-tile {
    transition: none;
    -webkit-transition: none;
  }
}

a .thirds__action-tile:hover {
  margin-top: -8px;
}

@media screen and (max-width: 42.8125em) {
  a .thirds__action-tile:hover {
    margin-top: 0px;
  }
}

.thirds__action-tile > .fa {
  font-size: 4em;
}

@media screen and (max-width: 42.8125em) {
  .thirds__action-tile > .fa {
    font-size: 3em;
  }
}

#main-nav {
  width: 800px;
  background-color: #0063A4;
  color: #fff;
  height: 40px;
  position: relative;
  float: right;
  margin-right: 70px;
  margin-top: -6.8px;
  padding-top: 5px;
  z-index: 1;
}

@media screen and (max-width: 42.8125em) {
  #main-nav {
    height: initial;
    width: 100%;
    border-top: 5px solid #3494D2;
    border-bottom: 5px solid #3494D2;
    margin: 0;
  }
}

#main-nav .thirds {
  visibility: hidden;
  text-align: left;
}

#main-nav .thirds li {
  list-style-type: none;
}

#main-nav #search-form, #main-nav p {
  visibility: hidden;
}

#main-nav fieldset {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-before: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-after: 0;
}

#main-nav fieldset legend {
  position: absolute;
  top: -1000px;
}

#main-nav a {
  text-decoration: none;
  color: #FFF;
  font-weight: 400;
}

.main-nav__section-about,
.main-nav__section-schools,
.main-nav__section-academics,
.main-nav__section-services,
.main-nav__section-news,
.main-nav__section-search {
  height: 0px;
  /* padding-top: 20px; */
  overflow: hidden;
  left: 0;
  background: #0063A4;
  /* z-index: 4; */
}

.main-nav__section-about h2,
.main-nav__section-schools h2,
.main-nav__section-academics h2,
.main-nav__section-services h2,
.main-nav__section-news h2,
.main-nav__section-search h2 {
  visibility: hidden;
  margin-left: 40px;
  margin-bottom: 0px;
}

.main-nav__close-button {
  float: right;
  padding-right: 25px;
  margin-top: -8px;
  cursor: pointer;
  clear: both;
  font-size: 22px;
}

#search-form {
  width: 90%;
  float: right;
  color: #000;
}

.main-nav-tabs--toggle-btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
}

@media screen and (min-width: 42.8125em) {
  .main-nav-tabs--toggle-btn {
    position: relative;
    display: initial;
    vertical-align: top;
    font-size: 20px;
    color: white;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.main-nav-tabs .about-tab,
.main-nav-tabs .schools-tab,
.main-nav-tabs .academics-tab,
.main-nav-tabs .news-tab,
.main-nav-tabs .services-tab,
.main-nav-tabs .search-tab {
  top: 4px;
  padding-bottom: 10px;
  padding-top: 10px;
}

@media screen and (min-width: 18.75em) and (max-width: 20em) {
  .main-nav-tabs .about-tab,
  .main-nav-tabs .schools-tab,
  .main-nav-tabs .academics-tab,
  .main-nav-tabs .news-tab,
  .main-nav-tabs .services-tab,
  .main-nav-tabs .search-tab {
    top: 0;
    border-radius: 10px;
    margin-left: 15px;
  }
}

@media screen and (min-width: 20.0625em) and (max-width: 23.8125em) {
  .main-nav-tabs .about-tab,
  .main-nav-tabs .schools-tab,
  .main-nav-tabs .academics-tab,
  .main-nav-tabs .news-tab,
  .main-nav-tabs .services-tab,
  .main-nav-tabs .search-tab {
    top: 0;
    border-radius: 10px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 23.875em) and (max-width: 26.25em) {
  .main-nav-tabs .about-tab,
  .main-nav-tabs .schools-tab,
  .main-nav-tabs .academics-tab,
  .main-nav-tabs .news-tab,
  .main-nav-tabs .services-tab,
  .main-nav-tabs .search-tab {
    top: 0;
    border-radius: 10px;
    margin-left: 40px;
  }
}

#main-nav .state {
  position: absolute;
  left: -10000px;
}

#close-about-nav:checked ~ .main-nav__section .main-nav__section-about,
#close-schools-nav:checked ~ .main-nav__section .main-nav__section-schools,
#close-academics-nav:checked ~ .main-nav__section .main-nav__section-academics,
#close-services-nav:checked ~ .main-nav__section .main-nav__section-services,
#close-news-nav:checked ~ .main-nav__section .main-nav__section-news,
#close-search-nav:checked ~ .main-nav__section .main-nav__section-search {
  transition: height 0.25s ease-in-out;
}

#main-nav__section-about--toggle:checked ~ .main-nav__section .main-nav__section-about {
  background-color: #3494D2;
  margin-top: 10px;
  border-bottom: 4px solid #0063A4;
  display: block;
  height: 250px;
  width: 100%;
  transition: height 0.35s ease-in-out;
}

@media screen and (max-width: 42.8125em) {
  #main-nav__section-about--toggle:checked ~ .main-nav__section .main-nav__section-about {
    height: 480px;
    border-bottom: none;
  }
}

#main-nav__section-schools--toggle:checked ~ .main-nav__section .main-nav__section-schools {
  background-color: #3494D2;
  margin-top: 10px;
  border-bottom: 4px solid #0063A4;
  display: block;
  height: 250px;
  width: 100%;
  transition: height 0.35s ease-in-out;
}

@media screen and (max-width: 42.8125em) {
  #main-nav__section-schools--toggle:checked ~ .main-nav__section .main-nav__section-schools {
    height: 430px;
    border-bottom: none;
  }
}

#main-nav__section-academics--toggle:checked ~ .main-nav__section .main-nav__section-academics {
  background-color: #3494D2;
  margin-top: 10px;
  border-bottom: 4px solid #0063A4;
  display: block;
  height: 340px;
  width: 100%;
  transition: height 0.35s ease-in-out;
}

@media screen and (max-width: 42.8125em) {
  #main-nav__section-academics--toggle:checked ~ .main-nav__section .main-nav__section-academics {
    height: 720px;
    border-bottom: none;
  }
}

#main-nav__section-services--toggle:checked ~ .main-nav__section .main-nav__section-services {
  background-color: #3494D2;
  margin-top: 10px;
  border-bottom: 4px solid #0063A4;
  display: block;
  height: 225px;
  width: 100%;
  transition: height 0.35s ease-in-out;
}

@media screen and (max-width: 42.8125em) {
  #main-nav__section-services--toggle:checked ~ .main-nav__section .main-nav__section-services {
    height: 400px;
    border-bottom: none;
  }
}

#main-nav__section-news--toggle:checked ~ .main-nav__section .main-nav__section-news {
  background-color: #3494D2;
  margin-top: 10px;
  border-bottom: 4px solid #0063A4;
  display: block;
  height: 280px;
  width: 100%;
  transition: height 0.35s ease-in-out;
}

#main-nav__section-news--toggle:checked ~ .main-nav__section .main-nav__section-news #thirds__sub-box {
  padding-top: 15px;
}

@media screen and (max-width: 42.8125em) {
  #main-nav__section-news--toggle:checked ~ .main-nav__section .main-nav__section-news #thirds__sub-box {
    padding-top: 15px;
    margin-left: 40px;
    margin-right: auto;
    width: 80%;
  }
}

@media screen and (max-width: 42.8125em) {
  #main-nav__section-news--toggle:checked ~ .main-nav__section .main-nav__section-news {
    height: 480px;
    border-bottom: none;
  }
}

#main-nav__section-search--toggle:checked ~ .main-nav__section .main-nav__section-search {
  background-color: #3494D2;
  margin-top: 10px;
  border-bottom: 4px solid #0063A4;
  display: block;
  height: 120px;
  width: 100%;
  transition: height 0.35s ease-in-out;
  padding-top: 50px;
}

@media screen and (max-width: 42.8125em) {
  #main-nav__section-search--toggle:checked ~ .main-nav__section .main-nav__section-search {
    height: 140px;
    border-bottom: none;
  }
}

#main-nav__section-about--toggle:checked ~ .main-nav__section .main-nav__section-about .thirds,
#main-nav__section-about--toggle:checked ~ .main-nav__section .main-nav__section-about h2,
#main-nav__section-about--toggle:checked ~ .main-nav__section .main-nav__section-about .closeNav--added,
#main-nav__section-schools--toggle:checked ~ .main-nav__section .main-nav__section-schools .thirds,
#main-nav__section-schools--toggle:checked ~ .main-nav__section .main-nav__section-schools h2,
#main-nav__section-schools--toggle:checked ~ .main-nav__section .main-nav__section-schools .closeNav--added,
#main-nav__section-academics--toggle:checked ~ .main-nav__section .main-nav__section-academics .thirds,
#main-nav__section-academics--toggle:checked ~ .main-nav__section .main-nav__section-academics h2,
#main-nav__section-academics--toggle:checked ~ .main-nav__section .main-nav__section-academics .closeNav--added,
#main-nav__section-services--toggle:checked ~ .main-nav__section .main-nav__section-services .thirds,
#main-nav__section-services--toggle:checked ~ .main-nav__section .main-nav__section-services h2,
#main-nav__section-news--toggle:checked ~ .main-nav__section .main-nav__section-news .thirds,
#main-nav__section-news--toggle:checked ~ .main-nav__section .main-nav__section-news h2,
#main-nav__section-search--toggle:checked ~ .main-nav__section .main-nav__section-search #search-form,
#main-nav__section-search--toggle:checked ~ .main-nav__section .main-nav__section-search h2,
#main-nav__section-search--toggle:checked ~ .main-nav__section .main-nav__section-search p {
  visibility: visible;
}

@media screen and (max-width: 42.8125em) {
  #main-nav__section-search--toggle:checked ~ .main-nav__section .main-nav__section-search h2 {
    display: none;
  }
}

#main-nav__section-about--toggle:checked ~ .main-nav-tabs .about-tab,
#main-nav__section-schools--toggle:checked ~ .main-nav-tabs .schools-tab,
#main-nav__section-academics--toggle:checked ~ .main-nav-tabs .academics-tab,
#main-nav__section-news--toggle:checked ~ .main-nav-tabs .news-tab,
#main-nav__section-services--toggle:checked ~ .main-nav-tabs .services-tab,
#main-nav__section-search--toggle:checked ~ .main-nav-tabs .search-tab {
  background-color: #3494D2;
  color: #FFF;
}

.secondary-nav {
  display: inline-table;
  height: 60px;
  width: 100%;
}

.secondary-nav h2 {
  display: inline-block;
  font-size: 1.5em;
  color: #0063A4;
  font-weight: 500;
  text-align: left;
}

@media screen and (min-width: 42.8125em) {
  .secondary-nav h2 {
    display: block;
    font-size: 1.5em;
    float: left;
  }
}

@media screen and (min-width: 42.8125em) {
  .secondary-nav {
    display: block;
    border-bottom: 1px solid #e7e7e7;
  }
}

.secondary-nav ul {
  border-bottom: 1px solid #e7e7e7;
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 42.8125em) {
  .secondary-nav ul {
    border-bottom: none;
    float: right;
    margin-top: 1.7em;
  }
}

.secondary-nav li {
  display: block;
  font-size: 1.125em;
}

@media screen and (min-width: 42.8125em) {
  .secondary-nav li {
    display: inline-block;
    margin: 0 0.5em;
    border-bottom: none;
    font-size: 1em;
  }
}

.secondary-nav a {
  font-weight: 500;
}

.secondary-nav a:hover {
  cursor: pointer;
}

.secondary-nav__active-page-link {
  color: #444444;
  font-weight: 500;
}

.secondary-nav__active-page-link:hover {
  cursor: default;
}

@media screen and (max-width: 41.8125em) {
  .secondary-nav__inner--toggle-btn:after {
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    transition-duration: 0.7s;
    font-size: 1.3125em;
    font-family: FontAwesome;
    font-weight: 300;
    content: "\f078";
    float: right;
    margin-top: 25px;
  }
}

.secondary-nav__inner--hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#secondary-nav--toggle {
  position: absolute;
  left: -10000px;
}

@media screen and (max-width: 42.8125em) {
  .secondary-nav__collapsable {
    max-height: 0;
    transition: max-height 0.5s cubic-bezier(0.06, 1.25, 0.32, 1.28) 0s;
  }
}

@media screen and (max-width: 42.8125em) {
  #secondary-nav--toggle:checked ~ .secondary-nav__collapsable {
    display: block;
    max-height: 400px;
    transition: max-height 0.55s cubic-bezier(0, 0, 0.2, 1) 0s;
    overflow: initial;
  }
}

#secondary-nav--toggle:checked ~ .secondary-nav__collapsable li {
  padding-top: 10px;
  transition: opacity 0.40s ease-in;
  opacity: 1;
}

#secondary-nav--toggle:checked ~ .secondary-nav__collapsable li:nth-child(1) {
  padding-top: 0px;
}

@media screen and (max-width: 42.8125em) {
  #secondary-nav--toggle:checked ~ .secondary-nav__collapsable li a {
    padding: 15px 30px 15px 0px;
  }
}

#secondary-nav--toggle:not(:checked) ~ .secondary-nav__collapsable li {
  transition: opacity 0.10s ease-out;
  opacity: 0;
}

@media screen and (min-width: 42.8125em) {
  #secondary-nav--toggle:not(:checked) ~ .secondary-nav__collapsable li {
    opacity: 1;
  }
}

#secondary-nav--toggle:checked ~ .secondary-nav__inner--toggle-btn:after {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.menu-drop {
  display: none;
  /* height: 300px; */
  /* width: 800px; */
  width: 760px;
  /*background-color: #218656;*/
  background-color: #0063A4;
  position: absolute;
  margin-top: 5px;
  /*border-bottom: $br-thick $color-sec;*/
  /* padding-top: 1em; */
  padding: 20px;
}

.menu-drop section {
  padding-left: 1em;
}

.menu-active {
  display: block;
  position: absolute;
  left: 0;
  z-index: 5;
}

.sidebar {
  width: 30%;
}

@media screen and (max-width: 42.8125em) {
  .sidebar {
    border-top: 3px solid #7DC254;
  }
}

.page .sidebar {
  float: left;
}

.widget_advanced_menu {
  list-style: none;
}

@media screen and (max-width: 42.8125em) {
  .menu-side {
    padding-left: 0;
  }
}

.widget_advanced_menu .menu-side {
  list-style: none;
}

.widget_advanced_menu .menu-side li.menu-item {
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #e7e7e7;
}

.sidebar li.widget_ultimate_posts, .sidebar li.widget_text {
  list-style: none;
}

.sidebar li.widget_text {
  border-top: 5px solid #7DC254;
  border-bottom: 5px solid #7DC254;
}

.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#main-navigation-menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

@media screen and (max-width: 42.8125em) {
  li#nav-about, li#nav-academics, li#nav-news, li#nav-schools, li#nav-services, li#nav-search {
    font-size: 22px;
  }
  li#nav-about, li#nav-academics, li#nav-news {
    float: left;
    padding: .5em 1em;
  }
  li#nav-schools, li#nav-services, li#nav-search {
    float: right;
    padding: .5em 1em;
  }
}

.section-header {
  text-transform: uppercase;
  color: #0063A4;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF5+fnAAAAf3rwuwAAAA5JREFUeNpiYKAnAAgwAABuAAEcD8SQAAAAAElFTkSuQmCC) repeat-x center center;
  text-align: center;
}

.section-header span {
  background-color: #fff;
  padding-left: 1em;
  padding-right: 1em;
}

/* Allows col classes to live in their own container */
.contents {
  display: inline-table;
  width: 100%;
  max-height: 100%;
}

.col-left {
  float: left;
  width: 48%;
}

@media screen and (max-width: 42.8125em) {
  .col-left {
    float: none;
    width: 100%;
  }
}

.col-right {
  float: right;
  width: 48%;
}

@media screen and (max-width: 42.8125em) {
  .col-right {
    float: none;
    width: 100%;
  }
}

.thirds {
  float: left;
  width: 33%;
}

.thirds h2 {
  border-bottom: 1px solid #e7e7e7;
  display: inline-block;
  font-size: 1.4em;
  margin-bottom: 0.58333em;
  padding-top: 0.5em;
}

.thirds img {
  margin-left: 30px;
}

@media screen and (max-width: 42.8125em) {
  .thirds {
    float: none;
    width: 100%;
  }
}

.thirds--first {
  float: left;
  width: 30%;
  border-right: 1px solid #e7e7e7;
  margin-right: 2.2em;
}

@media screen and (max-width: 42.8125em) {
  .thirds--first {
    float: none;
    width: 100%;
    border-right: none;
    margin-right: initial;
  }
}

.thirds__breakout--tiles {
  width: 30%;
  float: left;
  padding: 0.2em;
  margin: 0.2em;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

@media screen and (max-width: 42.8125em) {
  .thirds__breakout--tiles {
    width: 100%;
    height: 100%;
  }
}

.thirds__breakout--tiles img {
  margin-left: 30px;
  width: 85%;
}

@media screen and (max-width: 42.8125em) {
  .thirds__breakout--tiles img {
    width: 70%;
  }
}

.thirds .caption, .fourths .caption {
  text-align: center;
}

@media screen and (max-width: 42.8125em) {
  .home-infographics .thirds {
    width: 100%;
    border-bottom: 1px solid #E7E7E7;
  }
  .home-infographics .thirds img {
    float: left;
    margin-bottom: 1em;
    margin-left: 0px;
  }
  .home-infographics .thirds .caption {
    margin-top: 4em;
    margin-left: 1em;
    text-align: left;
  }
}

.thirds-highlight {
  border: 1px solid #3494D2;
  background-color: #FFFBFF;
  width: 32%;
  padding-left: 10px;
  float: right;
}

.content-trending .thirds h2 {
  padding-top: 0;
}

@media screen and (max-width: 42.8125em) {
  .content-trending .thirds {
    width: 100%;
  }
}

@media screen and (max-width: 42.8125em) {
  .content-trending .thirds-highlight {
    border-top: 2px solid #3494D2;
    border-bottom: 2px solid #3494D2;
    border-right: none;
    border-left: none;
    padding-left: none;
    background-color: none;
  }
}

.fourths {
  float: left;
  width: 25%;
}

@media screen and (max-width: 42.8125em) {
  .fourths {
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
  }
  .fourths img {
    float: left;
    margin-bottom: 1em;
  }
  .fourths .caption {
    float: left;
    margin-left: 1em;
    text-align: left;
  }
}

.two-thirds {
  width: 66%;
}

@media screen and (max-width: 42.8125em) {
  .two-thirds {
    width: 100%;
  }
}

.two-thirds--first {
  float: left;
  width: 66%;
}

@media screen and (max-width: 42.8125em) {
  .two-thirds--first {
    float: none;
    width: 100%;
  }
}

.two-thirds--last {
  float: right;
  width: 66%;
}

@media screen and (max-width: 42.8125em) {
  .two-thirds--last {
    float: none;
    width: 100%;
  }
}

.two-thirds img.double-image {
  width: 100%;
}

@media screen and (max-width: 42.8125em) {
  .two-thirds img.double-image {
    margin-top: 1em;
  }
}

.two-thirds .thirds {
  width: 50%;
}

@media screen and (max-width: 42.8125em) {
  .two-thirds .thirds {
    width: 100%;
  }
}

.full {
  display: inline-table;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 1em;
  height: 100%;
}

.no-border {
  border-top: 0 solid #e7e7e7;
  border-bottom: 0 solid #e7e7e7;
}

.long-list li {
  list-style: none;
}

.post .main {
  float: left;
  width: 65%;
}

@media screen and (max-width: 42.8125em) {
  .post .main {
    float: none;
    width: 100%;
  }
}

.post .sidebar {
  float: right;
}

.action-link a {
  background-color: #e51c23;
  color: white;
  padding-left: 1em 2em;
}

.news-pager {
  border-top: 1px solid #e7e7e7;
}

.news-previous {
  text-align: left;
}

.news-next {
  text-align: right;
  float: right;
}

.sidebar li#sticky-posts-7 {
  border-top: 5px solid #7DC254;
  margin-top: 2em;
}

@media screen and (max-width: 42.8125em) {
  .sidebar li#sticky-posts-7 {
    border-top: none;
    margin-top: auto;
  }
}

.sidebar li#sticky-posts-6 {
  border-bottom: 5px solid #7DC254;
}

@media screen and (max-width: 42.8125em) {
  .sidebar li#sticky-posts-6 {
    border-bottom: none;
  }
}

.sidebar li.widget_ultimate_posts,
.sidebar li.widget_text,
.sidebar li.widget_hcpss_events_upcoming_events {
  list-style: none;
}

.sidebar li.widget_hcpss_events_upcoming_events {
  border-top: 5px solid #7DC254;
  margin-top: 2em;
}

.sidebar li.widget_hcpss_events_upcoming_events h4 {
  margin: 0;
}

.sidebar li.widget_hcpss_events_upcoming_events .post {
  margin: 20px 0;
}

@media screen and (max-width: 42.8125em) {
  .sidebar li.widget_text {
    border-top: 3px solid #7DC254;
    border-bottom: 3px solid #7DC254;
  }
}

.post__paragraph--callout {
  font-size: larger;
  font-weight: 300;
}

.post__section--callout {
  border-top: #0063A4 3px solid;
  border-bottom: #0063A4 3px solid;
  background-color: #F1EBE7;
  margin-bottom: 2em;
  width: 200px;
  float: right;
  margin-left: 1em;
  padding: .5em .5em .5em 1em;
}

@media screen and (max-width: 42.8125em) {
  .post__section--callout {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.footer {
  margin-top: 10px;
  min-height: 160px;
  background-color: #0063A4;
  border-top: 5px solid #3494D2;
  padding-top: 20px;
}

@media screen and (max-width: 42.8125em) {
  .footer {
    margin-left: auto;
    margin-right: auto;
    padding-right: 40px;
  }
}

.footer-inner {
  width: 960px;
  position: relative;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 42.8125em) {
  .footer-inner {
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.footer-directions {
  width: 45%;
  float: left;
}

@media screen and (max-width: 42.8125em) {
  .footer-directions {
    float: none;
  }
}

.footer-directions address {
  float: right;
  color: #FFF;
  font-style: normal;
  margin-top: 15px;
}

@media screen and (max-width: 42.8125em) {
  .footer-directions address {
    float: none;
  }
}

.footer-hcpssnews {
  float: right;
  width: 45%;
  /* border-left: $br-default $color-light-decoration; */
  padding-left: 1em;
  color: #FFF;
}

@media screen and (max-width: 42.8125em) {
  .subscribe {
    display: block;
  }
}

.subscribe a {
  background-color: #FECC6A;
  color: #444444;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 5px;
  padding-bottom: 5px;
}

.subscribe a:hover {
  color: #0063A4;
}

.footer-nav {
  float: right;
  width: 45%;
}

.footer-nav li {
  float: left;
  margin-right: 1em;
}

.footer-nav ul {
  list-style: none;
}

.footer-nav a {
  color: #FFF;
}

.footer-directions address a {
  color: #FFF;
}

@media screen and (max-width: 42.8125em) {
  #hcpss-gmaps-footer-icon {
    display: none;
  }
}

#search-button {
  color: white;
  background-color: #FECC6A;
  border: 0;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0 .3em .3em 0;
  -webkit-border-radius: 0 0.3em;
  -moz-border-radius-topright: .3em;
  -moz-border-radius-topleft: .3em;
  text-shadow: 0 -1px #686868;
}

.slide-buttons {
  text-align: center;
}

.slide-btn {
  border: none;
  background: none;
  color: #e7e7e7;
  font-size: 200%;
  line-height: 0.5em;
}

.slide-btn.active, .slide-btn:hover {
  color: #000;
  cursor: pointer;
}

.fa-compass {
  color: #7DC254;
}

.fa-dashboard {
  color: #7DC254;
}

.btn, .btn__small {
  text-decoration: none;
  border-color: #0074D9;
  background-color: #0074D9;
  color: white;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  font-size: 1.375em;
  text-transform: uppercase;
  font-weight: 400;
  padding: 10px 10px;
  transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
}

.btn:hover, .btn__small:hover {
  color: white;
  background-color: #0063A4;
}

.btn__small {
  width: 150px;
  text-align: center;
  text-transform: none;
  font-size: 0.8em;
}

.btn__small--light {
  display: inline-block;
  width: 150px;
  text-align: center;
  text-transform: none;
  font-size: 0.8em;
  background-color: #FFF;
  color: #444444;
  border: 0.5px solid #F9F9F9;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  margin: 10px;
  font-weight: 400;
  padding: 10px 10px;
  transition: box-shadow 0.2s ease-in-out;
  -webkit-transition: box-shadow 0.2s ease-in-out;
}

.btn__small--light:hover {
  color: black;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

.btn--sec {
  background-color: #64a73c;
  transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
}

.btn--sec:hover {
  color: white;
  background-color: #4d822e;
}

.btn__text {
  padding: 0 10px;
  border-radius: 0 5px 5px 0;
}

.btn--disabled {
  background: white;
  color: gray;
  cursor: default;
  opacity: 0.2;
}

.icon {
  width: 300px;
  float: right;
  margin: 0px 5px 10px 15px;
}

.pdf {
  padding-right: 5px;
}

a.pdf-icon {
  color: #9b9b9b;
}

a.pdf-icon:hover {
  color: #FF4100;
}

.filemeta {
  color: #9b9b9b;
  font-size: 12px;
}

.fa-3 {
  font-size: 2em;
}

.fa-5 {
  font-size: 4em;
  margin-left: 30px;
}

#social-media-icon-twitter {
  text-decoration: none;
  color: #55ACEE;
}

#social-media-icon-facebook {
  text-decoration: none;
  color: #3B5998;
}

#social-media-icon-instagram {
  text-decoration: none;
  color: #4F5156;
}

#social-media-icon-vimeo {
  text-decoration: none;
  color: #4F5156;
}

#social-media-icon-youtube {
  text-decoration: none;
  color: #CD201F;
}

#social-media-icon-twitter:hover,
#social-media-icon-facebook:hover,
#social-media-icon-instagram:hover,
#social-media-icon-vimeo:hover,
#social-media-icon-youtube:hover {
  color: #4F5156;
}

.infographic-numbers {
  color: #747474;
  font-size: 1.5em;
  list-style: none;
}

@media screen and (max-width: 42.8125em) {
  .infographic-numbers li {
    display: inline;
    font-size: 20px;
  }
}

.infographic-numbers em {
  color: #FF4100;
  font-size: 1.5em;
  font-style: normal;
}

@media screen and (max-width: 42.8125em) {
  .infographic-numbers em {
    font-size: 20px;
  }
}

.fa-calendar {
  color: #444444;
}

.fa-institution, .fa-users, .fa-cloud, .fa-mobile {
  color: #444444;
}

.fa-tasks {
  color: #444444;
}

@media screen and (max-width: 42.8125em) {
  img.logo.shadow-smaller {
    height: 80px;
    width: 80px;
  }
  .fa-search {
    display: none;
  }
}

.shadow-smaller {
  -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 0px 1px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.pict {
  float: right;
  margin: .5em;
}

@media screen and (max-width: 42.8125em) {
  .pict {
    float: none;
    margin: 0;
  }
}

.img--shadow {
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid #e7e7e7;
}

.img--center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.img__text--center {
  text-align: center;
}

.photo-swatch {
  position: relative;
  height: 21.875em;
}

@media screen and (max-width: 42.8125em) {
  .photo-swatch {
    display: none;
  }
}

.photo {
  position: absolute;
  left: 0;
  top: 0;
  height: 16.25em;
}

.photo-01 {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.photo-active {
  left: 13em;
  z-index: 2;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  box-shadow: -18px 10px 37px -5px #000;
}

.photo-03 {
  left: 25.75em;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.photo-caption {
  position: absolute;
  top: 18.75em;
  left: 9.8125em;
  width: 39.0625em;
}

.connect__img {
  width: 85%;
  margin-bottom: 1em;
}

@media screen and (max-width: 42.8125em) {
  .connect__img {
    width: 30%;
  }
}

.main img {
  max-width: 100%;
}

.smtb-mg {
  margin-top: 1em;
  margin-bottom: 1em;
}

@media screen and (max-width: 42.8125em) {
  .smtb-mg {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.lgtb-mg {
  margin-top: 2em;
  margin-bottom: 2em;
}

@media screen and (max-width: 42.8125em) {
  .lgtb-mg {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.btn--green {
  background-color: #64a73c;
}

#list h3, #list h2 {
  margin-bottom: 18px;
  cursor: pointer;
  color: #686868 !important;
  font-weight: 400;
}

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.hide--content * {
  margin-top: 0px;
}

#timeline {
  max-height: 100%;
}

#timeline h3 {
  text-align: center;
}

@media screen and (max-width: 42.8125em) {
  #timeline {
    max-height: 100%;
  }
  #timeline .arrow {
    text-align: center;
    display: block;
    margin: 20px;
  }
}

.step__home-hosp {
  display: inline-block;
  vertical-align: middle;
  padding: 0.6em;
  height: 250px;
  width: 180px;
  background-color: #e7e7e7;
  border-radius: 10px;
}

@media screen and (max-width: 42.8125em) {
  .step__home-hosp {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.step__home-hosp p {
  margin-right: 10px;
}

.step__transition-services {
  display: inline-block;
  vertical-align: middle;
  padding: 0.6em;
  height: 200px;
  width: 240px;
  background-color: #e7e7e7;
  border-radius: 10px;
}

@media screen and (max-width: 42.8125em) {
  .step__transition-services {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.step--full {
  padding: 0.6em;
  background-color: #e7e7e7;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  max-width: 100%;
  position: relative;
  display: block;
}

.step__arrow--center {
  text-align: center;
  display: block;
  margin: 20px;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

.table > tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table .table {
  background-color: #ffffff;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}

.table-bordered {
  border: 1px solid #dddddd;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}

table col[class*="col-"] {
  display: table-column;
  float: none;
}

table td[class*="col-"],
table th[class*="col-"] {
  display: table-cell;
  float: none;
}

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}

.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}

.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}

.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}

.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}

.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}

.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}

.slide-buttons {
  text-align: center;
}

.slide-btn {
  border: none;
  background: none;
  color: #e7e7e7;
  font-size: 200%;
  line-height: 0.5em;
}

.slide-btn.active, .slide-btn:hover {
  color: #000;
  cursor: pointer;
}

.slide-viewer {
  position: relative;
  /* needed for IE7 */
  overflow: hidden;
  height: 280px;
}

@media screen and (max-width: 42.8125em) {
  .slide-viewer {
    height: 520px;
  }
}

.slide-group {
  width: 100%;
  height: 100%;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
}

.slide:first-child {
  display: block;
}

.single {
  background-color: #3494D2;
  height: 260px;
  margin-bottom: 30px;
}

@media screen and (max-width: 42.8125em) {
  .single {
    height: auto;
  }
}

.single .image {
  width: 500px;
  float: left;
}

@media screen and (max-width: 42.8125em) {
  .single .image {
    width: 100%;
    float: none;
  }
  .single .image img {
    width: 100%;
  }
}

.single .card {
  background-color: #3494D2;
  color: white;
  padding: .5em;
  float: right;
  width: 375px;
}

@media screen and (max-width: 42.8125em) {
  .single .card {
    color: white;
    padding: 1em;
    float: none;
    width: 100%;
  }
  .single .card h2 {
    padding-right: 1em;
  }
}

.sch-card__filter-box {
  top: 0;
  width: 100%;
  height: 210px;
  margin-bottom: 15px;
  position: relative;
  background-color: #F2F2F2;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding-top: 20px;
}

@media screen and (min-width: 685px) and (max-width: 1199px) {
  .sch-card__filter-box {
    height: 140px;
    width: 95.8%;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1500px) {
  .sch-card__filter-box {
    height: 140px;
    width: 93.9%;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (min-width: 1501px) {
  .sch-card__filter-box {
    height: 140px;
    width: 93.7%;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.sch-card__filter-box--sch-filters {
  width: 200px;
  float: left;
  padding-left: 1.25em;
  clear: both;
  /* height: 200px; */
}

@media screen and (min-width: 685px) {
  .sch-card__filter-box--sch-filters {
    width: 100%;
  }
}

#container__filter-button {
  height: 50px;
  float: left;
  width: 200px;
  position: relative;
  clear: left;
}

#result-count {
  float: left;
  display: block;
  margin-top: 0.5em;
}

@media screen and (min-width: 355px) {
  #result-count {
    margin-top: 1.75em;
  }
}

@media screen and (min-width: 550px) {
  #result-count {
    height: initial;
    margin-top: 0em;
    float: right;
  }
}

.toggle {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 5px;
  left: 10px;
  font-size: 1.5em;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#sidebartoggler,
#sch-card__modal--toggle {
  display: none;
}

#sidebartoggler:checked ~ .sch-card__categories {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  box-shadow: -4px -5px 20px rgba(0, 0, 0, 0.2);
}

#sidebartoggler:checked ~ .sch-card__filters .toggle {
  left: -1000px;
}

@media only screen and (min-width: 700px) and (max-width: 1199px) {
  #sidebartoggler:checked ~ #sch-carddata {
    width: 71%;
    float: right;
  }
  #sidebartoggler:checked ~ .sch-card__filter-box {
    width: 68.5%;
    float: right;
    margin-right: 12px;
  }
  #sidebartoggler:checked ~ #sch-carddata .sch-card, #sidebartoggler:checked ~ #sch-carddata .social-media-card {
    height: 500px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  #sidebartoggler:checked ~ #sch-carddata {
    width: 80%;
    float: right;
  }
  #sidebartoggler:checked ~ .sch-card__filter-box {
    width: 75.8%;
    float: right;
    margin-right: 28px;
  }
  #sidebartoggler:checked ~ #sch-carddata .sch-card, #sidebartoggler:checked ~ #sch-carddata .social-media-card {
    height: 32.5em;
  }
}

@media only screen and (min-width: 1401px) and (max-width: 1600px) {
  #sidebartoggler:checked ~ #sch-carddata {
    width: 93%;
    float: right;
  }
  #sidebartoggler:checked ~ .sch-card__filter-box {
    width: 88%;
    float: right;
    margin-right: 33px;
  }
  #sidebartoggler:checked ~ #sch-carddata .sch-card, #sidebartoggler:checked ~ #sch-carddata .social-media-card {
    height: 31.25em;
  }
}

@media only screen and (min-width: 1600px) {
  #sidebartoggler:checked ~ #sch-carddata {
    width: 100%;
  }
  #sidebartoggler:checked ~ #sch-carddata .sch-card, #sidebartoggler:checked ~ #sch-carddata .social-media-card {
    height: 31.25em;
  }
}

@media only screen and (max-width: 700px) {
  #sch-carddata {
    margin-top: 3.8em;
  }
}

.cardsearchinput {
  color: #444444;
}

.es-lazy, .ms-lazy, .hs-lazy, .ec-lazy, img.sch-card__modal--overlay-map-lazy {
  display: none;
}

.sch-card__categories {
  position: fixed;
  padding-top: 10px;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: #fff;
  z-index: 2;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform .3s,box-shadow .3s;
  -moz-transition: -moz-transform .3s,box-shadow .3s;
  transition: transform .3s,box-shadow .3s;
  opacity: 0.98;
  filter: alpha(opacity=98);
  /* for IE8 and below */
  overflow: scroll;
}

@media screen and (min-width: 700px) {
  .sch-card__categories {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1000px) {
  .sch-card__categories {
    width: 325px;
  }
}

@media screen and (max-width: 685px) {
  .sch-card__categories-container-labels label {
    display: block;
    margin-right: initial;
  }
}

.sch-card__categories section:nth-child(2) {
  margin-top: 3.125em;
}

.sch-card__categories section {
  padding: 10px 10%;
}

.sch-card, .social-media-card {
  display: block;
  height: 29.375em;
  width: 100%;
  border: 1px solid transparent;
  border-color: #ddd;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  padding: 0;
  margin-bottom: 0.5em;
}

.sch-card h3, .social-media-card h3 {
  font-size: 18px !important;
  margin-bottom: 0 !important;
  cursor: pointer;
}

.sch-card p, .social-media-card p {
  margin: 0.375em 0px 0.375em 0px;
}

.sch-card h2, .social-media-card h2 {
  margin-top: 0;
}

@media screen and (min-width: 1200px) {
  .sch-card, .social-media-card {
    height: 510px;
    float: left;
    padding: 0;
    margin: 0.5em;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    width: 30%;
  }
}

@media screen and (min-width: 42.8125em) and (max-width: 1199px) {
  .sch-card, .social-media-card {
    float: left;
    padding: 0;
    margin: 0.5em;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    width: 47%;
  }
}

.sch-card__bg-image {
  height: 9.375em;
  background-size: cover;
  border-top-left-radius: 0.625em;
  border-top-right-radius: 0.625em;
}

.sch-card__mascot-image {
  width: 3.75em;
  height: 3.75em;
  max-width: 100px !important;
  margin-top: -2.1875em;
  margin-bottom: 0.3125em;
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.social-media-card {
  height: 21.875em;
}

.social-media-card__bg-image {
  height: 9.375em;
  background-size: cover;
  border-top-left-radius: 0.625em;
  border-top-right-radius: 0.625em;
}

.social-media-card__logo {
  width: 3.75em;
  height: 3.75em;
  max-width: 100px !important;
  margin-top: -2.1875em;
  margin-bottom: 0.3125em;
}

.social-media-card__twitter-logo {
  border-radius: 10px;
}

.social-media-card__youtube-logo {
  width: 5em;
}

.sch-card, .social-media-card, .sch-card__data, .sch-card p, .social-media-card p {
  color: #444444;
}

#sch-card__data-toggle h3 {
  cursor: pointer;
  color: #444444;
}

.sch-card input, .social-media-card input {
  display: none;
}

#close {
  display: none;
}

.sch-card input:checked + .sch-card__modal, .social-media-card input:checked + .sch-card__modal {
  z-index: 6;
  left: 0;
  top: 0;
  position: fixed;
  background-color: rgba(68, 68, 68, 0.95);
}

.sch-card input:checked + .sch-card__modal .sch-card__modal--overlay, .social-media-card input:checked + .sch-card__modal .sch-card__modal--overlay {
  animation: bounceIn .8s;
  position: fixed;
  left: 0;
  right: 0;
}

@keyframes bounceIn {
  0% {
    transform: scaleY(0.1);
    opacity: 0;
  }
  60% {
    transform: scaleY(1.2);
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
  }
}

.sch-card__modal {
  display: table;
  width: 100%;
  left: -9999px;
  background-color: rgba(68, 68, 68, 0.2);
  transition: background-color 0.3s ease;
  position: absolute;
  z-index: 5;
}

.sch-card__modal--overlay {
  /* display: block; */
  /* max-width: 90%; */
  padding: 20px;
  background: #fff;
  color: #000;
  margin: 0.625em;
  text-align: left;
  cursor: auto;
  left: 0;
  right: 0;
  top: 0.5em;
  /* bottom: 0; */
  /* position: fixed; */
  border-radius: 10px;
}

@media screen and (min-width: 685px) {
  .sch-card__modal--overlay {
    margin: 0 auto;
    max-width: 70%;
    top: 200px;
  }
}

@media screen and (min-width: 1400px) {
  .sch-card__modal--overlay {
    margin: 0 auto;
    max-width: 50%;
  }
}

.sch-card__modal label {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 100vh;
}

.sch-card__modal--overlay .sch-card__modal--overlay-inner span {
  margin-bottom: 12px;
}

.sch-card__modal--overlay .sch-card__modal--overlay-inner {
  height: 300px;
  overflow-y: auto;
}

.sch-card__modal--overlay-map {
  width: 350px;
  max-height: 260px;
}

@media screen and (max-width: 685px) {
  .sch-card__modal--overlay-map {
    width: 270px;
  }
}

.closebutton {
  font-size: 1.5em;
  font-weight: 500;
  cursor: pointer;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 5px;
  width: 24px;
}

@media screen and (min-width: 685px) {
  .closebutton {
    top: 15px;
  }
}

p.tagline {
  /* margin: 0 auto;*/
  margin-top: 10px;
  margin-bottom: 10px;
  color: #0063A4;
  text-transform: uppercase;
  /* margin-left: 300px;*/
  text-align: center;
}

/*
.essential-apps a {
  color: #000;
} */
.menu-drop .thirds li a {
  font-size: 12px;
}

.menu-drop .thirds li {
  float: none;
  list-style: disc;
}

#q {
  width: 80%;
}

@media only screen and (min-width: 685px) {
  .footer {
    min-width: 1000px;
  }
}

@media only screen and (max-width: 685px) {
  .header, .container, .footer, .footer-inner, .footer-directions, .footer-hcpssnews, .main, .sidebar, .thirds {
    width: 100%;
  }
  .menu-item a:after {
    content: "   >";
  }
  /* .thirds-highlight {
     border: 1px solid #E88D0C;
     background-color: #FFFBFF;
   } */
  .goal-number {
    display: block;
  }
}

/* .fourths img {
  margin-left: inherit;
} */

/*# sourceMappingURL=maps/main.css.map */
